<p>miviesearchfromhttp works!</p>

<div [routerLink] = "['../movies',movieactual.movie_id ]"  *ngFor = "let movieactual of movies">
    <h3>List of Movies from Movies (search) </h3>
    <app-movie_icon #movieiconvariable
    (outputmovie_details) = "handlemovie_details($event)"
    (outputmovie_favorite) = "handlefavorite_movie($event)"
    [movieicon] = "movieactual"

    >
    </app-movie_icon>
    <h3>{{movieiconvariable.someproperty}}</h3>
    <button (click) = "movieiconvariable.cmvariable_movie()"> Variable details </button>

</div>

