<div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >ngEvents</a>
      </div>
  
      <div class="collapse navbar-collapse">
      <ul>
        <li>
            <a  [routerLink] = "['/movies']"
            routerLinkActive="active"
            routerLinkActiveOptions = "{exact:true}">  Home </a>
        </li>
        <li>
            <a routerLinkActive="active"
            routerLinkActiveOptions = "{exact:true}">  My Favorites </a>
        </li>
        <li>
            <a routerLinkActive="active"
            routerLinkActiveOptions = "{exact:true}"> Register </a>
        </li>
        <li>
            <a routerLinkActive="active"
            routerLinkActiveOptions = "{exact:true}">  Login </a>
        </li>
        <li>

            <form #searchForm = "ngForm" id="searchForm"  class="navbar-form navbar-right" 
             (ngSubmit) = "saveSearch(searchForm.value)" >
                <div class="form-group">
                  <input  (ngModel) = "searchTerm" type="text" class="form-control" placeholder="Search movies" 
                 name="searchTerm" id="searchTerm">
                </div>
                <button class="btn btn-default"  [routerLink] = "['/movies/',searchTerm]">
                  Search
                </button>
              </form>
                </li>
    </ul>

</div>
</div>
</div>
