<div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >ngEvents</a>
      </div>
  
      <div class="collapse navbar-collapse">
      <ul>
        <li>
            <a routerLinkActive="active"
            routerLinkActiveOptions = "{exact:true}">  Home </a>
        </li>
        <li>
            <a routerLinkActive="active"
            routerLinkActiveOptions = "{exact:true}">  About Us </a>
        </li>
        <li>
            <a [routerLink] = "['/movies']"
            routerLinkActive="active" 
            routerLinkActiveOptions = "{exact:true}"> Movie List </a>
        </li>
        <li>
            <a routerLinkActive="active"
            routerLinkActiveOptions = "{exact:true}"> Register </a>
        </li>
        <li>
            <a routerLinkActive="active"
            routerLinkActiveOptions = "{exact:true}">  Login </a>
        </li>
        <li>

            <form id="searchForm"  class="navbar-form navbar-right"  >
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search movies" >
                </div>
                <button class="btn btn-default" >
                  Search
                </button>
              </form>
                </li>
    </ul>

</div>
</div>
</div>
