<div>
    <ul>
        <li>
            <a routerLinkActive="active"
            routerLinkActiveOptions = "{exact:true}">  Home </a>
        </li>
        <li>
            <a routerLinkActive="active"
            routerLinkActiveOptions = "{exact:true}">  About Us </a>
        </li>
        <li>
            <a [routerLink] = "['/movies']"
            routerLinkActive="active" 
            routerLinkActiveOptions = "{exact:true}"> Movie List </a>
        </li>
        <li>
            <a routerLinkActive="active"
            routerLinkActiveOptions = "{exact:true}"> Register </a>
        </li>
        <li>
            <a routerLinkActive="active"
            routerLinkActiveOptions = "{exact:true}">  Login </a>
        </li>
        <li>
            <a routerLinkActive="active"
            routerLinkActiveOptions = "{exact:true}">  Search </a>
        </li>
    </ul>

</div>
